Repository raylyanway/sample: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx,json,css,md}": "prettier --write",
    "src/**/*.{js,jsx,ts,tsx,json}": "eslint",
    "src/**/*.css": "prettier --write"
}

fix(*): linters remarks
  .eslintrc
  src/App.test.tsx
  src/App.tsx
  src/index.tsx
  src/reportWebVitals.ts
  src/setupTests.ts
Due: prettier --write, eslint

feat(*): add cypress
  .eslintrc
  .gitignore
  .husky/pre-push
  cypress.json
  cypress/fixtures/example.json
  cypress/fixtures/profile.json
  cypress/fixtures/users.json
  cypress/integration/1-getting-started/todo.spec.ts
  cypress/integration/2-advanced-examples/actions.spec.ts
  cypress/integration/2-advanced-examples/aliasing.spec.ts
  cypress/integration/2-advanced-examples/assertions.spec.ts
  cypress/integration/2-advanced-examples/connectors.spec.ts
  cypress/integration/2-advanced-examples/cookies.spec.ts
  cypress/integration/2-advanced-examples/cypress_api.spec.ts
  cypress/integration/2-advanced-examples/files.spec.ts
  cypress/integration/2-advanced-examples/local_storage.spec.ts
  cypress/integration/2-advanced-examples/location.spec.ts
  cypress/integration/2-advanced-examples/misc.spec.ts
  cypress/integration/2-advanced-examples/navigation.spec.ts
  cypress/integration/2-advanced-examples/network_requests.spec.ts
  cypress/integration/2-advanced-examples/querying.spec.ts
  cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.ts
  cypress/integration/2-advanced-examples/traversal.spec.ts
  cypress/integration/2-advanced-examples/utilities.spec.ts
  cypress/integration/2-advanced-examples/viewport.spec.ts
  cypress/integration/2-advanced-examples/waiting.spec.ts
  cypress/integration/2-advanced-examples/window.spec.ts
  cypress/plugins/index.ts
  cypress/snapshots/2-advanced-examples/misc.spec.ts/header.snap.png
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  package.json
  yarn.lock
Due: none

feat(*): modify readme
  README.md
Due: none

refactor(*): prettier fix
  tsconfig.json
  yarn.lock
Due: none

test(*): test linting
  src/App.tsx
Due: prettier --write, eslint

refactor(*): delete extra tests
  cypress/integration/1-getting-started/todo.spec.ts
  cypress/integration/2-advanced-examples/actions.spec.ts
  cypress/integration/2-advanced-examples/aliasing.spec.ts
  cypress/integration/2-advanced-examples/assertions.spec.ts
  cypress/integration/2-advanced-examples/connectors.spec.ts
  cypress/integration/2-advanced-examples/cookies.spec.ts
  cypress/integration/2-advanced-examples/cypress_api.spec.ts
  cypress/integration/2-advanced-examples/files.spec.ts
  cypress/integration/2-advanced-examples/local_storage.spec.ts
  cypress/integration/2-advanced-examples/location.spec.ts
  cypress/integration/2-advanced-examples/misc.spec.ts
  cypress/integration/2-advanced-examples/navigation.spec.ts
  cypress/integration/2-advanced-examples/network_requests.spec.ts
  cypress/integration/2-advanced-examples/querying.spec.ts
  cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.ts
  cypress/integration/2-advanced-examples/traversal.spec.ts
  cypress/integration/2-advanced-examples/utilities.spec.ts
  cypress/integration/2-advanced-examples/viewport.spec.ts
  cypress/integration/2-advanced-examples/waiting.spec.ts
  cypress/integration/2-advanced-examples/window.spec.ts
Due: none

fix(*): fix test
  src/App.tsx
Due: prettier --write, eslint

feat(*): add proxy server to avoid cors and usefetch hook
  .eslintrc
  package.json
  server/index.ts
  server/routes/index.ts
  server/tsconfig.json
  src/App.css
  src/App.tsx
  src/hooks/use-fetch.ts
  src/reportWebVitals.ts
  tsconfig.eslint.json
  yarn.lock
Due: prettier --write, eslint

feat(*): temporary comment tests
  src/App.test.tsx
Due: prettier --write, eslint

feat(*): add bad request status
  src/App.tsx
  src/hooks/use-fetch.ts
Due: prettier --write, eslint

feat(*): add multiple fetch
  src/App.tsx
  src/hooks/use-fetch.ts
Due: prettier --write, eslint

feat(*): add loader
  src/components/loader/index.css
  src/components/loader/index.tsx
  src/components/loader/loader.svg
Due: prettier --write, eslint

feat(*): add rule to lint
  .eslintrc
Due: none

feat(*): modify usefetch
  src/hooks/use-fetch.ts
Due: prettier --write, eslint

feat(*): add component picture
  src/components/picture/index.css
  src/components/picture/index.tsx
Due: prettier --write, eslint

feat(*): add component error page
  src/components/error-page/index.css
  src/components/error-page/index.tsx
Due: prettier --write, eslint

feat(*): add component app
  src/components/app/index.test.tsx
  src/components/app/index.tsx
Due: prettier --write, eslint

feat(*): modify app component
  src/components/app/index.css
  src/components/app/index.tsx
Due: prettier --write, eslint

feat(*): mobile first approach
  src/components/app/index.css
Due: prettier --write

feat(*): delete extra
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/logo.svg
Due: prettier --write, eslint

feat(*): css app component
  src/components/app/index.css
Due: prettier --write

feat(*): css error-page
  src/components/error-page/index.tsx
Due: prettier --write, eslint

feat(*): css error page and loader
  src/components/app/index.css
  src/components/error-page/index.css
  src/components/error-page/index.tsx
  src/components/loader/index.css
Due: prettier --write, eslint

feat(*): import for app
  src/index.tsx
Due: prettier --write, eslint

feat(*): delete extra test
  src/components/app/index.test.tsx
Due: prettier --write, eslint

feat(*): css picture and app
  src/components/app/index.css
  src/components/picture/index.css
  src/components/picture/index.tsx
Due: prettier --write, eslint

feat(*): add component images
  src/pages/images/index.css
  src/pages/images/index.tsx
Due: prettier --write, eslint

fix(*): server url
  server/index.ts
Due: none

fix(*): images component
  src/pages/images/index.tsx
Due: prettier --write, eslint

fix(*): add video components
  src/components/app/index.tsx
  src/components/video/index.css
  src/components/video/index.tsx
  src/pages/video/index.css
  src/pages/video/index.tsx
Due: prettier --write, eslint

feat(*): add eslint rule
  .eslintrc
Due: none

feat(*): update video page component
  src/pages/video/index.css
  src/pages/video/index.tsx
Due: prettier --write, eslint

feat(*): add hook
  src/hooks/use-click-outside.ts
Due: prettier --write, eslint

feat(*): update component video
  src/components/video/index.tsx
Due: prettier --write, eslint

feat(*): add component modal
  src/components/modal/index.css
  src/components/modal/index.tsx
Due: prettier --write, eslint

feat(*): add react-router-dom
  package.json
  yarn.lock
Due: none

fix(*): css
  src/components/app/index.css
  src/components/app/index.tsx
  src/components/modal/index.css
  src/components/video/index.css
  src/components/video/index.tsx
  src/pages/images/index.tsx
  src/pages/video/index.tsx
Due: prettier --write, eslint

fix(*): add flag to test
  package.json
Due: none

fix(*): add home page
  src/components/app/index.tsx
  src/pages/home/index.css
  src/pages/home/index.tsx
Due: prettier --write, eslint
